<div class="container">

    <div class=" table-container">

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="renavam">
                <th mat-header-cell *matHeaderCellDef> Renavam </th>
                <td mat-cell *matCellDef="let element"> {{element.renavam}} </td>
            </ng-container>

            <ng-container matColumnDef="licensePlate">
                <th mat-header-cell *matHeaderCellDef> Placa </th>
                <td mat-cell *matCellDef="let element"> {{element.licensePlate}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>