form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

div {
    margin-bottom: 10px;
}

label {
    font-weight: bold;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}