<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput formControlName="name" placeholder="Digite o nome">
        <mat-error *ngIf="form.get('name')?.invalid && (form.get('name')?.dirty || form.get('name')?.touched)">Nome é
            obrigatório</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>CPF</mat-label>
        <input matInput formControlName="cpf" placeholder="Digite o CPF (XXX.XXX.XXX-XX)">
        <mat-error *ngIf="form.get('cpf')?.invalid && (form.get('cpf')?.dirty || form.get('cpf')?.touched)">CPF
            inválido</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Submit</button>
</form>