.container {

    margin: 15px;

    .table-container {
        position: relative;
        margin: 20px;
    }

    .add-button {
        position: absolute;
        top: 0;
        right: 0;
    }

    .mat-header-cell {
        background-color: black;
        color: white;
    }
}