<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <mat-label>Renavam</mat-label>
        <input matInput formControlName="renavam" placeholder="Digite o renavam">
        <mat-error
            *ngIf="form.get('renavam')?.invalid && (form.get('renavam')?.dirty || form.get('renavam')?.touched)">Renavam
            é
            obrigatório</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Placa</mat-label>
        <input matInput formControlName="placa">
        <mat-error *ngIf="form.get('placa')?.invalid && (form.get('placa')?.dirty || form.get('placa')?.touched)">PLACA
            inválida</mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Submit</button>
</form>